/* Колір лого  color: #2196F3;*/
/* Колір в  посилань хедері 
color: #2196F3;       color: #757575;*/
/* Бекграунд background: #E5E5E5; background: #2F303A; */
/* Колір h1  color: #FFFFFF; */
/* Колір посилань у футері color: rgba(255, 255, 255, 0.6); */


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --main-background-color: #FFFFFF;
  --grey-background-color: #2F303A;
  --button-background-color: #188CE8;
  --secondary-white-background-color: #F5F4FA;
}

body {

  color: var(--primary-text-color);
  background: var(--main-background-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-header {
  border-bottom: 1px solid #ECECEC;;
  background: var(--main-background-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.leader {
  display: flex;
}

nav {
  display: flex;
  align-items: baseline;
} 

.logo-header {
  display: block;
  margin-right: 93px;
  margin-bottom: 25px;

  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-first-part {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.site-nav {
  display: flex;
}

.site-nav .header-link {
  margin-right: 50px;
}

.site-nav .header-link:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list,
.list a,
.page-footer a,
.page-header a {
  list-style: none;
  text-decoration: none;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-link {
  margin-right: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

.auth-link:last-child {
  margin-right: 0;
}

.auth-nav .primary-button {
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.primary-button {
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 14;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
}

.primary-button:hover,
.primary-button:focus {
  cursor: pointer;
  color: var(--accent-color);
  padding-top: 32px;
  padding-bottom: 32px;
  
}
/*.main-nav {;
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}*/

/*Hero section*/

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: var(--grey-background-color);
}

.hero-title {

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--main-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  width: 696px;
}

.secondary-button {
  align-items: center;
  text-align: center;
  cursor: pointer;

  color: var(--main-background-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

.secondary-button:hover{
  color: var(--main-background-color);
  background-color: var(--button-background-color);
  font-family: inherit;
}

/*Other sections*/

.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-section .third-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

}

.third-title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.activity {

  padding-top: 0;
}

.main-section .second-item {
  line-height: 1.71;

}


.main-section .point {
  display: flex;

}

.specifics {
  width: 270px;
  margin-right: 30px;
  margin-left: 0;
}

.specifics:last-child {
  margin-right: 0;
}
.secondary-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.list.works {
  display: flex;

}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.photos:not(:last-child) {
  margin-right: 30px ;
}


/*Fourth section*/

.fourth-section {
  background: var(--secondary-white-background-color);
}

.secondary-title.studiia {
 text-align: center;
 margin-bottom: 50px;

}

.team-list {
  display: flex;
}

.team-list li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  
}

.employee {

  margin-right: 30px;
  background: var(--main-background-color);
  text-align: center;
}

.employee:last-child {
  margin-right: 0;
}

.profession {
 padding-top: 30px;
 padding-bottom: 30px;
/*margin-top: 30px;
margin-bottom: 30px;*/
 text-align: center;
}

.fourth-section .third-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.fourth-section p {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  
}


/*Footer*/

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--grey-background-color);
}

.logo-footer {
  display: inline-block;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  
  color: var(--main-background-color);
  font-family: Raleway, sans-serif;
}

address {
  font-style: normal;

}

.address li:not(:last-child){
  margin-bottom: 9px;
}

.address p {
 color: var(--main-background-color);
 line-height: 1.71;
}

.address a { 
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

/*Portfolio*/


.button-portfolio {
  cursor: pointer;

  color: var(--title-text-color);
  background: var(--secondary-white-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  
}

.list.portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

}

.work-list {
  margin-right: 8px;
  border-radius: 4px;
}
.work-list:last-child{
  margin-right: 0;
}

.portfolio-examples.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-right: -30px;
  margin-bottom: -30px;

}

.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
  background: #FFFFFF;
}

.portfolio-item:nth-child(3n){
  margin-right: 0px;
}


.names {

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.portfolio-examples li {
  background: var(--main-background-color);
}

.portfolio-examples .secondary-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-examples p {
  font-size: 16px;
  line-height: 1.88;
}
 
.secondary-title.portfolio {

  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  margin-bottom: 4px;
  text-align: left;
  letter-spacing: 0.06em;
}

.button-portfolio:hover {
  color: var(--main-background-color);
  background-color: var(--accent-color);
}